<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Welcome to NeuroPump!</title>

  <link rel="shortcut icon" href="/favicon.png">
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/javascripts/jquery-latest.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>


  <% @javascripts.each do |javascript| %>
    <%= link_to_javascript(javascript) %>
  <% end %>
</head>
