<table class="doc-loader">
  <tr>
    <td>
      <img src="./images/ajax-document-loader.gif" alt="Loading..." />
    </td>
  </tr>
</table>

<div class="wrapper">
  <img class="logo" src="/images/logoNeuro.png" alt="NeuroPump">

  <h1>Reaching your needs. Pumping you to a solution.</h1>
  <p align="justify">NeuroPump is a Web and Mobile platform for Neuropsychologists,
    that allows easy management of patients from the moment they enter the clinic.</p>
  <p align="justify">We're working hard in the development of the platform, and if you submit your email below,
    we'll keep you updated. Please stay in touch!</p>

  <form id="newsletter" action="/newsletter" method="post">
    <input type="name" id="fname" name="fname" placeholder="First Name" required>
    <input type="name" id="lname" name="lname" placeholder="Last Name" required>
    <input type="email" id="email" name="email" placeholder="Please Enter Your Email" required>
    <button type="submit">Submit</button>
  </form>

  <section class="social-media">
    <a class="tumblr icon" href="http://neuropump.tumblr.com/">Blog</a>
    <a class="facebook icon" href="http://www.facebook.com/neuropump">Facebook</a>
  </section>
</div>
<p id="powered-by">Powered by <a href="http://groupbuddies.com">Group Buddies</a></p>